---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Nice to meet you, I'm Erik</h1>
    <p>
    Just a regular programmer who's loved building things since a young age. What started with PHP and JavaScript grew into a passion for Python, mainly driven by an interest in data engineering and data science (And no, I wasn’t scared off by all the online PHP hate ;) )
    </p>
    <p>
    These days, I focus mainly on software development with Python. What fascinates me most is the challenge of keeping projects maintainable and testable. I find myself diving deep into that topic, mainly because it can be a quite challenging area (depending on the project) and it's never really finished.
    </p><p>
    This site is where I share what I learn, try out ideas, and write about things I find useful or interesting.
    </p>
    <h2 class="text-title">About the logo</h2>
    <p>
      <img width="640" height="360" src="new_logo.png" alt="Logo Coderik" /> 
    </p>
    <p>
      The logo came from a simple idea, combining the letters <i>e</i> and <i>c</i> from "Coderik". The dashes and dots are a playful touch, a subtle reference to how code is visually structured in typical development environments. It's minimal, a bit abstract, and a bit nerdy.
    </p>
    <p>
      While the logo is displayed as an image, it was not created in Illustrator, but entirely crafted in VS Code with the help of an SVG preview extension.
    </p>
  </article>
</BaseLayout>
